@{
    ViewData["Title"] = "SOOJIN KWON";
    ViewData["Banner"] = "About Me";
}
<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <h1 class="text-center class=" display-4"">@ViewData["Title"]</h1>
            <h3 class="text-center fs-3">UI Designer
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">I am currently a 3rd Year student at The Southern Institute of Technology studying Bachelor of Information Technology. I currently hold a NZ Student Visa.</p>
                <p class="align-content-center"><img src="/pic/ab.png" class="img-fluid" /></p>
                <p>New Zealand Certificate of Information Technology | Southern Institute of Technology
                    FEB 2020 – JUN 2020 </p>

                <p>NNew Zealand Diploma of Information Technology| Southern Institute of Technology 
                    FEB 2020 – NOV 2020
                    Graduated on Dec 2020</p>

                <p>New Zealand Bachelor of Information Technology| Southern Institute of Technology
                    FEB 2021 – NOV 2022
                    Expected to Graduate in December 2022</p>

        </div>

    </div>
</div>

