@model MyWebSite.Models.Portfolio

@{
    ViewData["Title"] = Model.Title;
    ViewData["banner"] = "A Previous Project";
}

<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center">
        <div class="row item justify-content-md-center mb-5 lh-base">

            <div class="col-9 mb-4">
                <h2 class="display-6 text-center">@Html.DisplayFor(model => model.Title)</h2>
                <div class="text-center"><img class="img-fluid shadow" src="@Model.Pic" /></div>
                <div class="fs-5 lh-base"> @Html.Raw(Markdig.Markdown.ToHtml(String.IsNullOrEmpty(Model.Content)?"None":Model.Content))</div>
                <div class="fs-5 lh-base"><a asp-action="Index">Back to portfolio list</a></div>
            </div>

        </div>
    </div>
</div>